:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Empêche le balancement gauche/droite sur mobile */
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.texte-formate {
  white-space: pre-line;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  @keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes monterBulles {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-50px) scale(1.5); opacity: 0; }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
@keyframes goldGlow {
  0% { box-shadow: 0 0 5px #ffd700, inset 0 0 5px #ffd700; }
  50% { box-shadow: 0 0 20px #ffb300, inset 0 0 10px #ffb300; }
  100% { box-shadow: 0 0 5px #ffd700, inset 0 0 5px #ffd700; }
}
/* Classe spécifique pour le Super Bonus */
.carte-super-bonus {
  animation: goldGlow 2.5s infinite ease-in-out !important;
  background-color: #fffdf0 !important;
  border-width: 5px !important;
  transform: scale(1.02); /* Légèrement plus grande pour l'emphase */
  transition: transform 0.3s ease;
}

.icone-super-bonus {
  filter: drop-shadow(0 0 10px #ffd700) !important;
  transform: scale(1.1);
}
@keyframes fastFloatUp {
      0% { opacity: 0; 
        transform: translate(-50%, 20%) scale(0.5); 
      }
      20% { opacity: 1; 
        transform: translate(-50%, -50%) scale(1.2); /* Effet d'impact */
      }
      100% { opacity: 0; 
        transform: translate(-50%, -300%) scale(1); /* Monte très haut */
      }
    }
@keyframes bounce {
          0%, 100% { transform: translateY(0); }
          50% { transform: translateY(-5px); }
        }
@keyframes popIn {
          0% { transform: scale(0.5); opacity: 0; }
          100% { transform: scale(1); opacity: 1; }
        }
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}        
}
